# dot files
.bash_history
.bash_logout
.cache
.calcurse
.config/calcurse
!.config/calcurse/conf
!.config/calcurse/keys
.config/coc
.config/composer
.config/Electron
.config/libreoffice
.config/lutris
.config/mpd
!.config/mpd/mpd.conf
.config/neofetch
.config/ncmpcpp/error.log
.config/pulse
.config/QtProject.conf
.config/VSCodium
.config/zsh
!.config/zsh/.zshrc
.dbus
.dosbox
.gitconfig
.ipython
.links
.local/share
!.local/share/larbs
.mozilla
.npm
.pki
.pylint.d
.ssh
.steam*
.vim
.vscode-oss
# others
Documents
Downloads
Movies
Music
/pic*
