# dot files
.cache
.calcurse
.config/coc
.config/composer
.config/Electron
.config/libreoffice
.config/mpd
!.config/mpd/mpd.conf
.config/neofetch
.config/ncmpcpp/error.log
.config/QtProject.conf
.config/VSCodium
.config/zsh
!.config/zsh/.zshrc
.dbus
.ipython
.links
.mozilla
.npm
.pki
.pylint.d
.ssh
.vim
# others
Documents
Downloads
Movies
Music
/pic*
